@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(253, 251, 249);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
div.slick-slide {
  display: inline;
  width: 150px;
}
.image {
  width: 150px;
}
#menu-toggle:checked + #menu {
  display: block;
}

p {
  font-family: var(--font-serif);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6em;
  margin-top: 4vmin;
  margin-bottom: 0;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  padding: 2px;
}

h2 {
  font-size: 2.8rem;
  font-weight: 700;
  margin: 2em 0 0;
}
figcaption {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  padding: 2px;
  text-align: center;
}

ul {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.6em;
  padding: 1.5em;
}

figure {
  margin-top: 6vmin;
  margin-bottom: 0;
}

#menu-toggle:checked + #menu {
  display: block;
}
